# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
DerivedData/
*.xcworkspace/xcuserdata/
xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

# Swift Package Manager
.swiftpm/
Packages/
Package.pins
Package.resolved

# Claude Code
.claude/

# Superpowers
.superpowers/
